*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.main-row{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
  width: 50%;
}

.indicator-contatiner{
  width: 25%;
  height: 300px;
}

.nav-bg-color{
  background-color: #ff4d06;
}

.custom-header {
  background-color: #ff4d06 !important;	
}

.offcanvas-custom-width {
  width: 60% !important;
}
.table-border{
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 16px;
  overflow: hidden; /* Ukrywa ostre rogi wewnętrznych elementów */
  border-collapse:separate;
  border-spacing: 0;
}
.table-border td, .table-border th{
  border-right: 1px solid black;
  overflow: hidden;
  border-collapse:separate;
  border-spacing: 0;
}

.pagination-item{
   background-color: #ff4d06;
    color: black;  
}

.pagination-item:hover{
  background-color: #000;
  color: white;
}

.pagination-item.active {
  background-color: #000 !important;
  border-color: #000 !important;
  color: white !important;
}