*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.main-row{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
  width: 50%;
}

.indicator-contatiner{
  width: 25%;
  height: 300px;
}

.nav-bg-color{
  background-color: #ff4d06;
}